<div class="banner">
  <div class="container">
    <h1>SpoonFeed</h1>
    <p>Find & Review your fave restaurants in London</p>
    <%= link_to "See all restaurants", restaurants_path, class: "btn btn-primary" %>
  </div>
</div>
